@import 'tailwindcss';
@import '@nuxt/ui';
@plugin "@tailwindcss/typography";

@theme static {
  --font-sans: 'Geist', sans-serif;
  --font-mono: 'Geist Mono', monospace;
}

* {
  scrollbar-color: var(--ui-bg-accented) transparent;
  scrollbar-width: thin;
}

:root {
  --ui-radius: 0.325rem;
}

/* Fixed size for prose images */
.prose img {
  max-width: 400px !important;
  width: auto !important;
  margin-left: auto;
  margin-right: auto;
}
